{% if request.user.is_authenticated %}
    <p>Welcome {{request.user}}</p>
    <a href="{% url 'task-logout' %}">Logout</a>
{% else %}
    <a href="{% url 'task-login' %}">Login</a>
{% endif %}

<hr>

<form method="GET">
    <input type="text" name="search-area">
    <input type="submit" value="Search">
</form>

<h2>Tasks</h2>
<a href="{% url 'task-create' %}"><h4>Add New Task</h4></a>
<table>
    <tr>
        <th>Task Name</th>
        <th>Status</th>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td>{{task.complete}}</td>
        <td><a href='{% url 'task-detail' task.id %}'>View</a></td>
        <td><a href='{% url 'task-update' task.id %}'>Update</a></td>
        <td><a href='{% url 'task-delete' task.id %}'>Delete</a></td>
    </tr>
    {% empty %}
    <tr>
        <td>No entries in the db!</td>
    </tr>
    {% endfor %}
</table>